<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Register</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Bibliothek-Logo</a>
    </div>
</nav>
<h1 class="formh1">Bibliothekar Registrierung</h1>
<div class="container">
    <form method="POST" th:object="${bibliothekar}" th:action="@{/registerBib}">
        <div class="form-group">
            <label for="vorname">Vorname:</label>
            <input class="form-control" type="text" id="vorname" th:field="*{vorname}" required>
        </div>
        <div class="form-group">
            <label for="nachname">Nachname:</label>
            <input class="form-control" type="text" id="nachname" th:field="*{nachname}" required>
        </div>
        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input class="form-control" type="email" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="tel">Telefonnummer:</label>
            <input class="form-control" type="tel" id="tel" th:field="*{telefonnummer}" required>
        </div>
        <div class="form-group">
            <label for="geburtsdatum">Geburtsdatum:</label>
            <input class="form-control" type="date" id="geburtsdatum" th:field="*{geburtsdatum}" required>
        </div>
        <div class="form-group">
            <label for="passwort">Passwort:</label>
            <input class="form-control" type="password" id="passwort" th:field="*{passwort}" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>

</body>
</html>